@use "sass:math";
// credit to http://aleclownes.com/1vh7/1vw01/crt-display.html
@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage(math.div($i, $steps))} {
      opacity: math.div(random(100000), 100000);
    }
  }
}
@keyframes textShadow {
  $steps: 20;
  @for $i from 0 through $steps {
    $a: math.div(random(300000), 100000)+px;
    #{percentage(math.div($i, $steps))} {
      text-shadow: $a 0 1px rgba(0,30,255,0.5), -$a 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
html::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
html::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 1vh, 1vw 100%;
  pointer-events: none;
}
html {
  animation: textShadow 1.6s infinite;
}
