
main {
  max-width: 800px;
  margin: 2rem;
  white-space: pre;
}
html {
  height: 100%;
  font-family: 'Courrier New', monospace;
  color: $font-color;
  font-size: $font-size;
  background: $html-background;
  min-height: 100%;
  margin: 0;
  position: relative;
  margin-left: 1rem;
}
#prompt {
  width: auto;
  background: none;
  border: none;
  outline: none;
  color: $font-color;
  font-size: $font-size;
  font-family: 'Courrier New', monospace;
  .transparent & {
    caret-color: transparent !important;
    
  }
}

@media only screen and (max-width: 768px) {
  html, #prompt {
    font-size: $min-font-size;
  }
}
.folder {
  color: $font-highlight;
}

.username {
  color: $color-2;
}

.transparent * {
  color: transparent !important;
  background-color: transparent !important;
  text-shadow: none;
}
.title {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    min-width: 10rem;
  }
}
.cleared {
  display: none;
}
a {
  position: relative;
  color: #acf;
  .poster {
    display: none;
  }
  &:hover > .poster {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width:10rem;
    height: auto;
    display: block;
  }
}