@use "sass:math";

html, body {
  font-family: sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, calc(33% - 1rem));
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, calc(25% - 1rem));
  }
  grid-gap: 3rem 1rem;
  grid-auto-rows: minmax(7rem, auto);
  &.s20-80 {
    grid-template-columns: 20% 80%;
  }
}
.chart {
  max-width: 100%;
}
.item {
  box-shadow: 3px 6px 11px 0px rgba(0,0,0,0.22);
  height: 100%;
  max-width: 100%;
  position: relative;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.description {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 7rem;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0) 100%);
  text-shadow: #000 1px 0 8px;
  color: #FFF;
  > div {
    flex: 1;
  }
}
.director {
  font-style: italic;
  font-size: .9rem;
}
.genre {
  text-shadow: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1000;
  flex-grow: 1000;
  overflow: hidden;
  align-items: flex-end;
  margin: 0 -1rem;
  > span {
    display: inline-block;
    overflow: hidden;
    height: .5rem;
    flex-basis: 100%;
    display: inline-flex;
    min-width: 0;
    min-height: 0;
    text-overflow: clip;
    color: transparent;
    background-color: magenta;
    // padding: .2rem .5rem;
    // margin: .1rem .1rem 0 .1rem;
    // border-radius: .5rem;
    &:hover {
      color: black;
      padding: 1rem;
      flex-shrink: .7;
      text-align: center;
      transition: flex-shrink .2s, padding .1s;
    }
  }
  .thriller {
    background:#e55039;
  }
  .romance {
    background: #b71540;
  }
  .comedy {
    background: #eb2f06;
  }
  .drama {
    background: #6a89cc;
  }
  .adventure {
    background: #78e08f;
  }
  .action {
    background: #38ada9;
  }
  .sci-fi {
    background: #4a69bd;
  }
  .fantasy {
    background: #079992;
  }
  .crime {
    background:#fad390;
  }
  .horror {
    background: #3c6382;
  }
  .mystery {
    background: #fa983a;
  }
  .suspense {
    background: #e58e26;
  }
  .history,
  .biography {
    background: #f6b93b;
  }
  .war{
    background: #0c2461;
  }
  .animation {
    background: #4a69bd;
  }
}
.poster {
  width: 100%;
  height: auto;
  img {
    max-width: 100%;
  }
}
.rating {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  line-height: 1;
  &::after, &::before {
    content: "★★★★★";
  }
  &::before {
    color: #ccc;
  }
  &::after {
    background-color: inherit;
    color: rgb(184, 72, 52);
    inline-size: 0;
    overflow: hidden;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  &.imdb::after{
    color: #e5d226;
  }
  
  @for $i from 10 to 101 {
    &[value="#{math.div($i, 10)}"]::after {
      inline-size: $i*1%;
    }
  }
}

.title {
  font-weight: bold;
  a {
    color: #ffffff;
  }
}

main {
  max-width: 70rem;
  margin: auto;
}

.filters {
  position: sticky;
  top : 0;
  height: 100vh;
  padding: 1rem;
  > div {
    color: #222;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  input {
    width: 100%;
    padding: .5rem;
  }
}

.sort {
  &::after {
    content: '▾';
  }
  &.asc::after {
    content: '▴';
  }
}

.transparent {
  display: none !important;
}