@use "sass:math";
@import "variables.scss";
@import "index.scss";
@import "fonts.scss";
@import "animation.scss";
@import "error.scss";
@import "syntax-color.scss";


.rating {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  line-height: 1;
  &::after, &::before {
    content: "★★★★★";
  }
  &::before {
    color: #ccc;
  }
  &::after {
    background-color: inherit;
    color: #b84834;
    inline-size: 0;
    overflow: hidden;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  &.imdb::after{
    color: #e5d226;
  }
  
  @for $i from 1 to 101 {
    &[value="#{math.div($i, 10)}"]::after {
      inline-size: $i*1%;
    }
  }
}