.json {
  .key {
    color: #9ef;
  }
  .value {
    color: #fd9;
  }
  .acc {
    color: #f3f;
  }
  .bracket {
    color: #6af;
  }
}

.html {
  .key {
    color: #9ef;
  }
  .value {
    color: #fd9;
  }
  .name {
    color: #f3f;
  }
}