$link: #5294E2;
$font-color: #444;
$font-size: 1.2vw;
$min-font-size: 1.9vw;

$color-1: #faf9eb;
$color-2: #ee4e4e;
$color-3: #101010;
$color-4: #65421f;

$html-background: $color-3;
$article-background: $color-2;
$font-color: $color-1;
$font-highlight: #079977;
$caret-color: $color-2;
$hint-color: $color-4;

$h1-size: 5rem;
$h2-size: 4rem;
$h3-size: 3rem;
$h4-size: 2rem;
$h5-size: 1rem;
$h6-size: 1rem;

$article-padding: 1rem