@charset "UTF-8";
html, body {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 3rem 1rem;
  grid-auto-rows: minmax(7rem, auto);
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, calc(33% - 1rem));
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, calc(25% - 1rem));
  }
}
.grid.s20-80 {
  grid-template-columns: 20% 80%;
}

.chart {
  max-width: 100%;
}

.item {
  box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.22);
  height: 100%;
  max-width: 100%;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 7rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
  text-shadow: #000 1px 0 8px;
  color: #FFF;
}
.description > div {
  flex: 1;
}

.director {
  font-style: italic;
  font-size: 0.9rem;
}

.genre {
  text-shadow: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1000;
  flex-grow: 1000;
  overflow: hidden;
  align-items: flex-end;
  margin: 0 -1rem;
}
.genre > span {
  display: inline-block;
  overflow: hidden;
  height: 0.5rem;
  flex-basis: 100%;
  display: inline-flex;
  min-width: 0;
  min-height: 0;
  text-overflow: clip;
  color: transparent;
  background-color: magenta;
}
.genre > span:hover {
  color: black;
  padding: 1rem;
  flex-shrink: 0.7;
  text-align: center;
  transition: flex-shrink 0.2s, padding 0.1s;
}
.genre .thriller {
  background: #e55039;
}
.genre .romance {
  background: #b71540;
}
.genre .comedy {
  background: #eb2f06;
}
.genre .drama {
  background: #6a89cc;
}
.genre .adventure {
  background: #78e08f;
}
.genre .action {
  background: #38ada9;
}
.genre .sci-fi {
  background: #4a69bd;
}
.genre .fantasy {
  background: #079992;
}
.genre .crime {
  background: #fad390;
}
.genre .horror {
  background: #3c6382;
}
.genre .mystery {
  background: #fa983a;
}
.genre .suspense {
  background: #e58e26;
}
.genre .history,
.genre .biography {
  background: #f6b93b;
}
.genre .war {
  background: #0c2461;
}
.genre .animation {
  background: #4a69bd;
}

.poster {
  width: 100%;
  height: auto;
}
.poster img {
  max-width: 100%;
}

.rating {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  line-height: 1;
}
.rating::after, .rating::before {
  content: "★★★★★";
}
.rating::before {
  color: #ccc;
}
.rating::after {
  background-color: inherit;
  color: rgb(184, 72, 52);
  inline-size: 0;
  overflow: hidden;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
.rating.imdb::after {
  color: #e5d226;
}
.rating[value="1"]::after {
  inline-size: 10%;
}
.rating[value="1.1"]::after {
  inline-size: 11%;
}
.rating[value="1.2"]::after {
  inline-size: 12%;
}
.rating[value="1.3"]::after {
  inline-size: 13%;
}
.rating[value="1.4"]::after {
  inline-size: 14%;
}
.rating[value="1.5"]::after {
  inline-size: 15%;
}
.rating[value="1.6"]::after {
  inline-size: 16%;
}
.rating[value="1.7"]::after {
  inline-size: 17%;
}
.rating[value="1.8"]::after {
  inline-size: 18%;
}
.rating[value="1.9"]::after {
  inline-size: 19%;
}
.rating[value="2"]::after {
  inline-size: 20%;
}
.rating[value="2.1"]::after {
  inline-size: 21%;
}
.rating[value="2.2"]::after {
  inline-size: 22%;
}
.rating[value="2.3"]::after {
  inline-size: 23%;
}
.rating[value="2.4"]::after {
  inline-size: 24%;
}
.rating[value="2.5"]::after {
  inline-size: 25%;
}
.rating[value="2.6"]::after {
  inline-size: 26%;
}
.rating[value="2.7"]::after {
  inline-size: 27%;
}
.rating[value="2.8"]::after {
  inline-size: 28%;
}
.rating[value="2.9"]::after {
  inline-size: 29%;
}
.rating[value="3"]::after {
  inline-size: 30%;
}
.rating[value="3.1"]::after {
  inline-size: 31%;
}
.rating[value="3.2"]::after {
  inline-size: 32%;
}
.rating[value="3.3"]::after {
  inline-size: 33%;
}
.rating[value="3.4"]::after {
  inline-size: 34%;
}
.rating[value="3.5"]::after {
  inline-size: 35%;
}
.rating[value="3.6"]::after {
  inline-size: 36%;
}
.rating[value="3.7"]::after {
  inline-size: 37%;
}
.rating[value="3.8"]::after {
  inline-size: 38%;
}
.rating[value="3.9"]::after {
  inline-size: 39%;
}
.rating[value="4"]::after {
  inline-size: 40%;
}
.rating[value="4.1"]::after {
  inline-size: 41%;
}
.rating[value="4.2"]::after {
  inline-size: 42%;
}
.rating[value="4.3"]::after {
  inline-size: 43%;
}
.rating[value="4.4"]::after {
  inline-size: 44%;
}
.rating[value="4.5"]::after {
  inline-size: 45%;
}
.rating[value="4.6"]::after {
  inline-size: 46%;
}
.rating[value="4.7"]::after {
  inline-size: 47%;
}
.rating[value="4.8"]::after {
  inline-size: 48%;
}
.rating[value="4.9"]::after {
  inline-size: 49%;
}
.rating[value="5"]::after {
  inline-size: 50%;
}
.rating[value="5.1"]::after {
  inline-size: 51%;
}
.rating[value="5.2"]::after {
  inline-size: 52%;
}
.rating[value="5.3"]::after {
  inline-size: 53%;
}
.rating[value="5.4"]::after {
  inline-size: 54%;
}
.rating[value="5.5"]::after {
  inline-size: 55%;
}
.rating[value="5.6"]::after {
  inline-size: 56%;
}
.rating[value="5.7"]::after {
  inline-size: 57%;
}
.rating[value="5.8"]::after {
  inline-size: 58%;
}
.rating[value="5.9"]::after {
  inline-size: 59%;
}
.rating[value="6"]::after {
  inline-size: 60%;
}
.rating[value="6.1"]::after {
  inline-size: 61%;
}
.rating[value="6.2"]::after {
  inline-size: 62%;
}
.rating[value="6.3"]::after {
  inline-size: 63%;
}
.rating[value="6.4"]::after {
  inline-size: 64%;
}
.rating[value="6.5"]::after {
  inline-size: 65%;
}
.rating[value="6.6"]::after {
  inline-size: 66%;
}
.rating[value="6.7"]::after {
  inline-size: 67%;
}
.rating[value="6.8"]::after {
  inline-size: 68%;
}
.rating[value="6.9"]::after {
  inline-size: 69%;
}
.rating[value="7"]::after {
  inline-size: 70%;
}
.rating[value="7.1"]::after {
  inline-size: 71%;
}
.rating[value="7.2"]::after {
  inline-size: 72%;
}
.rating[value="7.3"]::after {
  inline-size: 73%;
}
.rating[value="7.4"]::after {
  inline-size: 74%;
}
.rating[value="7.5"]::after {
  inline-size: 75%;
}
.rating[value="7.6"]::after {
  inline-size: 76%;
}
.rating[value="7.7"]::after {
  inline-size: 77%;
}
.rating[value="7.8"]::after {
  inline-size: 78%;
}
.rating[value="7.9"]::after {
  inline-size: 79%;
}
.rating[value="8"]::after {
  inline-size: 80%;
}
.rating[value="8.1"]::after {
  inline-size: 81%;
}
.rating[value="8.2"]::after {
  inline-size: 82%;
}
.rating[value="8.3"]::after {
  inline-size: 83%;
}
.rating[value="8.4"]::after {
  inline-size: 84%;
}
.rating[value="8.5"]::after {
  inline-size: 85%;
}
.rating[value="8.6"]::after {
  inline-size: 86%;
}
.rating[value="8.7"]::after {
  inline-size: 87%;
}
.rating[value="8.8"]::after {
  inline-size: 88%;
}
.rating[value="8.9"]::after {
  inline-size: 89%;
}
.rating[value="9"]::after {
  inline-size: 90%;
}
.rating[value="9.1"]::after {
  inline-size: 91%;
}
.rating[value="9.2"]::after {
  inline-size: 92%;
}
.rating[value="9.3"]::after {
  inline-size: 93%;
}
.rating[value="9.4"]::after {
  inline-size: 94%;
}
.rating[value="9.5"]::after {
  inline-size: 95%;
}
.rating[value="9.6"]::after {
  inline-size: 96%;
}
.rating[value="9.7"]::after {
  inline-size: 97%;
}
.rating[value="9.8"]::after {
  inline-size: 98%;
}
.rating[value="9.9"]::after {
  inline-size: 99%;
}
.rating[value="10"]::after {
  inline-size: 100%;
}

.title {
  font-weight: bold;
}
.title a {
  color: #ffffff;
}

main {
  max-width: 70rem;
  margin: auto;
}

.filters {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1rem;
}
.filters > div {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.filters input {
  width: 100%;
  padding: 0.5rem;
}

.sort::after {
  content: "▾";
}
.sort.asc::after {
  content: "▴";
}

.transparent {
  display: none !important;
}

/*# sourceMappingURL=movies.css.map */
