@charset "UTF-8";
main {
  max-width: 800px;
  margin: 2rem;
  white-space: pre;
}

html {
  height: 100%;
  font-family: "Courrier New", monospace;
  color: #faf9eb;
  font-size: 1.2vw;
  background: #101010;
  min-height: 100%;
  margin: 0;
  position: relative;
  margin-left: 1rem;
}

#prompt {
  width: auto;
  background: none;
  border: none;
  outline: none;
  color: #faf9eb;
  font-size: 1.2vw;
  font-family: "Courrier New", monospace;
}
.transparent #prompt {
  caret-color: transparent !important;
}

@media only screen and (max-width: 768px) {
  html, #prompt {
    font-size: 1.9vw;
  }
}
.folder {
  color: #079977;
}

.username {
  color: #ee4e4e;
}

.transparent * {
  color: transparent !important;
  background-color: transparent !important;
  text-shadow: none;
}

.title {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex > * {
  min-width: 10rem;
}

.cleared {
  display: none;
}

a {
  position: relative;
  color: #acf;
}
a .poster {
  display: none;
}
a:hover > .poster {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 10rem;
  height: auto;
  display: block;
}

@keyframes flicker {
  0% {
    opacity: 0.0067;
  }
  5% {
    opacity: 0.79198;
  }
  10% {
    opacity: 0.1017;
  }
  15% {
    opacity: 0.6952;
  }
  20% {
    opacity: 0.75494;
  }
  25% {
    opacity: 0.01287;
  }
  30% {
    opacity: 0.14419;
  }
  35% {
    opacity: 0.22551;
  }
  40% {
    opacity: 0.45775;
  }
  45% {
    opacity: 0.58267;
  }
  50% {
    opacity: 0.83203;
  }
  55% {
    opacity: 0.92703;
  }
  60% {
    opacity: 0.25582;
  }
  65% {
    opacity: 0.10627;
  }
  70% {
    opacity: 0.14152;
  }
  75% {
    opacity: 0.37265;
  }
  80% {
    opacity: 0.2661;
  }
  85% {
    opacity: 0.89783;
  }
  90% {
    opacity: 0.39757;
  }
  95% {
    opacity: 0.15293;
  }
  100% {
    opacity: 0.82652;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 1.44785px 0 1px rgba(0, 30, 255, 0.5), -1.44785px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 0.55461px 0 1px rgba(0, 30, 255, 0.5), -0.55461px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 2.55919px 0 1px rgba(0, 30, 255, 0.5), -2.55919px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 1.53706px 0 1px rgba(0, 30, 255, 0.5), -1.53706px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 2.15325px 0 1px rgba(0, 30, 255, 0.5), -2.15325px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 2.72051px 0 1px rgba(0, 30, 255, 0.5), -2.72051px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 2.62284px 0 1px rgba(0, 30, 255, 0.5), -2.62284px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 0.53226px 0 1px rgba(0, 30, 255, 0.5), -0.53226px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 0.92452px 0 1px rgba(0, 30, 255, 0.5), -0.92452px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 0.40456px 0 1px rgba(0, 30, 255, 0.5), -0.40456px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 2.56249px 0 1px rgba(0, 30, 255, 0.5), -2.56249px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 0.15419px 0 1px rgba(0, 30, 255, 0.5), -0.15419px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 1.01632px 0 1px rgba(0, 30, 255, 0.5), -1.01632px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 1.50631px 0 1px rgba(0, 30, 255, 0.5), -1.50631px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 1.56502px 0 1px rgba(0, 30, 255, 0.5), -1.56502px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.40626px 0 1px rgba(0, 30, 255, 0.5), -1.40626px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 1.26106px 0 1px rgba(0, 30, 255, 0.5), -1.26106px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 2.0055px 0 1px rgba(0, 30, 255, 0.5), -2.0055px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 1.73134px 0 1px rgba(0, 30, 255, 0.5), -1.73134px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 1.72505px 0 1px rgba(0, 30, 255, 0.5), -1.72505px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0.43082px 0 1px rgba(0, 30, 255, 0.5), -0.43082px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
html::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

html::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 1vh, 1vw 100%;
  pointer-events: none;
}

html {
  animation: textShadow 1.6s infinite;
}

.carret {
  animation: cursor 700ms infinite steps(1, end) alternate-reverse;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(calc(37px - 30px), 500px, calc(68px - 30px), 0);
    transform: skew(0.5571428571deg);
  }
  5% {
    clip: rect(calc(65px - 30px), 500px, calc(60px - 30px), 0);
    transform: skew(0.1571428571deg);
  }
  10% {
    clip: rect(calc(30px - 30px), 500px, calc(6px - 30px), 0);
    transform: skew(0.7285714286deg);
  }
  15% {
    clip: rect(calc(56px - 30px), 500px, calc(16px - 30px), 0);
    transform: skew(0.2571428571deg);
  }
  20% {
    clip: rect(calc(43px - 30px), 500px, calc(56px - 30px), 0);
    transform: skew(0.9285714286deg);
  }
  25% {
    clip: rect(calc(25px - 30px), 500px, calc(70px - 30px), 0);
    transform: skew(0.3285714286deg);
  }
  30% {
    clip: rect(calc(34px - 30px), 500px, calc(8px - 30px), 0);
    transform: skew(0.4714285714deg);
  }
  35% {
    clip: rect(calc(26px - 30px), 500px, calc(33px - 30px), 0);
    transform: skew(0.4857142857deg);
  }
  40% {
    clip: rect(calc(32px - 30px), 500px, calc(14px - 30px), 0);
    transform: skew(0.1deg);
  }
  45% {
    clip: rect(calc(66px - 30px), 500px, calc(5px - 30px), 0);
    transform: skew(0.9714285714deg);
  }
  50% {
    clip: rect(calc(27px - 30px), 500px, calc(39px - 30px), 0);
    transform: skew(0.0428571429deg);
  }
  55% {
    clip: rect(calc(23px - 30px), 500px, calc(24px - 30px), 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(calc(49px - 30px), 500px, calc(7px - 30px), 0);
    transform: skew(0.9714285714deg);
  }
  65% {
    clip: rect(calc(36px - 30px), 500px, calc(17px - 30px), 0);
    transform: skew(0.2571428571deg);
  }
  70% {
    clip: rect(calc(20px - 30px), 500px, calc(7px - 30px), 0);
    transform: skew(0.9714285714deg);
  }
  75% {
    clip: rect(calc(11px - 30px), 500px, calc(40px - 30px), 0);
    transform: skew(0.4142857143deg);
  }
  80% {
    clip: rect(calc(36px - 30px), 500px, calc(68px - 30px), 0);
    transform: skew(0.0428571429deg);
  }
  85% {
    clip: rect(calc(44px - 30px), 500px, calc(48px - 30px), 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(calc(23px - 30px), 500px, calc(64px - 30px), 0);
    transform: skew(0.4285714286deg);
  }
  95% {
    clip: rect(calc(19px - 30px), 500px, calc(21px - 30px), 0);
    transform: skew(0.9428571429deg);
  }
  100% {
    clip: rect(calc(14px - 30px), 500px, calc(59px - 30px), 0);
    transform: skew(0.5571428571deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(calc(3px - 30px), 500px, calc(5px - 30px), 0);
    transform: skew(0.3142857143deg);
  }
  5% {
    clip: rect(calc(2px - 30px), 500px, calc(3px - 30px), 0);
    transform: skew(0.7428571429deg);
  }
  10% {
    clip: rect(calc(39px - 30px), 500px, calc(70px - 30px), 0);
    transform: skew(0.8857142857deg);
  }
  15% {
    clip: rect(calc(38px - 30px), 500px, calc(62px - 30px), 0);
    transform: skew(0.6deg);
  }
  20% {
    clip: rect(calc(12px - 30px), 500px, calc(18px - 30px), 0);
    transform: skew(0.7428571429deg);
  }
  25% {
    clip: rect(calc(64px - 30px), 500px, calc(18px - 30px), 0);
    transform: skew(0.9142857143deg);
  }
  30% {
    clip: rect(calc(67px - 30px), 500px, calc(51px - 30px), 0);
    transform: skew(0.2deg);
  }
  35% {
    clip: rect(calc(67px - 30px), 500px, calc(39px - 30px), 0);
    transform: skew(0.2142857143deg);
  }
  40% {
    clip: rect(calc(48px - 30px), 500px, calc(22px - 30px), 0);
    transform: skew(0.1857142857deg);
  }
  45% {
    clip: rect(calc(64px - 30px), 500px, calc(58px - 30px), 0);
    transform: skew(0.8285714286deg);
  }
  50% {
    clip: rect(calc(24px - 30px), 500px, calc(49px - 30px), 0);
    transform: skew(0.9deg);
  }
  55% {
    clip: rect(calc(25px - 30px), 500px, calc(20px - 30px), 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(calc(44px - 30px), 500px, calc(54px - 30px), 0);
    transform: skew(0.8857142857deg);
  }
  65% {
    clip: rect(calc(45px - 30px), 500px, calc(17px - 30px), 0);
    transform: skew(0.6714285714deg);
  }
  70% {
    clip: rect(calc(58px - 30px), 500px, calc(27px - 30px), 0);
    transform: skew(0.8285714286deg);
  }
  75% {
    clip: rect(calc(25px - 30px), 500px, calc(62px - 30px), 0);
    transform: skew(0.0428571429deg);
  }
  80% {
    clip: rect(calc(20px - 30px), 500px, calc(40px - 30px), 0);
    transform: skew(0.4571428571deg);
  }
  85% {
    clip: rect(calc(30px - 30px), 500px, calc(7px - 30px), 0);
    transform: skew(0.8428571429deg);
  }
  90% {
    clip: rect(calc(69px - 30px), 500px, calc(32px - 30px), 0);
    transform: skew(0.2428571429deg);
  }
  95% {
    clip: rect(calc(67px - 30px), 500px, calc(22px - 30px), 0);
    transform: skew(0.7571428571deg);
  }
  100% {
    clip: rect(calc(30px - 30px), 500px, calc(35px - 30px), 0);
    transform: skew(0.4857142857deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(-1deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-2deg);
  }
}
.json .key {
  color: #9ef;
}
.json .value {
  color: #fd9;
}
.json .acc {
  color: #f3f;
}
.json .bracket {
  color: #6af;
}

.html .key {
  color: #9ef;
}
.html .value {
  color: #fd9;
}
.html .name {
  color: #f3f;
}

.rating {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  line-height: 1;
}
.rating::after, .rating::before {
  content: "★★★★★";
}
.rating::before {
  color: #ccc;
}
.rating::after {
  background-color: inherit;
  color: #b84834;
  inline-size: 0;
  overflow: hidden;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
.rating.imdb::after {
  color: #e5d226;
}
.rating[value="0.1"]::after {
  inline-size: 1%;
}
.rating[value="0.2"]::after {
  inline-size: 2%;
}
.rating[value="0.3"]::after {
  inline-size: 3%;
}
.rating[value="0.4"]::after {
  inline-size: 4%;
}
.rating[value="0.5"]::after {
  inline-size: 5%;
}
.rating[value="0.6"]::after {
  inline-size: 6%;
}
.rating[value="0.7"]::after {
  inline-size: 7%;
}
.rating[value="0.8"]::after {
  inline-size: 8%;
}
.rating[value="0.9"]::after {
  inline-size: 9%;
}
.rating[value="1"]::after {
  inline-size: 10%;
}
.rating[value="1.1"]::after {
  inline-size: 11%;
}
.rating[value="1.2"]::after {
  inline-size: 12%;
}
.rating[value="1.3"]::after {
  inline-size: 13%;
}
.rating[value="1.4"]::after {
  inline-size: 14%;
}
.rating[value="1.5"]::after {
  inline-size: 15%;
}
.rating[value="1.6"]::after {
  inline-size: 16%;
}
.rating[value="1.7"]::after {
  inline-size: 17%;
}
.rating[value="1.8"]::after {
  inline-size: 18%;
}
.rating[value="1.9"]::after {
  inline-size: 19%;
}
.rating[value="2"]::after {
  inline-size: 20%;
}
.rating[value="2.1"]::after {
  inline-size: 21%;
}
.rating[value="2.2"]::after {
  inline-size: 22%;
}
.rating[value="2.3"]::after {
  inline-size: 23%;
}
.rating[value="2.4"]::after {
  inline-size: 24%;
}
.rating[value="2.5"]::after {
  inline-size: 25%;
}
.rating[value="2.6"]::after {
  inline-size: 26%;
}
.rating[value="2.7"]::after {
  inline-size: 27%;
}
.rating[value="2.8"]::after {
  inline-size: 28%;
}
.rating[value="2.9"]::after {
  inline-size: 29%;
}
.rating[value="3"]::after {
  inline-size: 30%;
}
.rating[value="3.1"]::after {
  inline-size: 31%;
}
.rating[value="3.2"]::after {
  inline-size: 32%;
}
.rating[value="3.3"]::after {
  inline-size: 33%;
}
.rating[value="3.4"]::after {
  inline-size: 34%;
}
.rating[value="3.5"]::after {
  inline-size: 35%;
}
.rating[value="3.6"]::after {
  inline-size: 36%;
}
.rating[value="3.7"]::after {
  inline-size: 37%;
}
.rating[value="3.8"]::after {
  inline-size: 38%;
}
.rating[value="3.9"]::after {
  inline-size: 39%;
}
.rating[value="4"]::after {
  inline-size: 40%;
}
.rating[value="4.1"]::after {
  inline-size: 41%;
}
.rating[value="4.2"]::after {
  inline-size: 42%;
}
.rating[value="4.3"]::after {
  inline-size: 43%;
}
.rating[value="4.4"]::after {
  inline-size: 44%;
}
.rating[value="4.5"]::after {
  inline-size: 45%;
}
.rating[value="4.6"]::after {
  inline-size: 46%;
}
.rating[value="4.7"]::after {
  inline-size: 47%;
}
.rating[value="4.8"]::after {
  inline-size: 48%;
}
.rating[value="4.9"]::after {
  inline-size: 49%;
}
.rating[value="5"]::after {
  inline-size: 50%;
}
.rating[value="5.1"]::after {
  inline-size: 51%;
}
.rating[value="5.2"]::after {
  inline-size: 52%;
}
.rating[value="5.3"]::after {
  inline-size: 53%;
}
.rating[value="5.4"]::after {
  inline-size: 54%;
}
.rating[value="5.5"]::after {
  inline-size: 55%;
}
.rating[value="5.6"]::after {
  inline-size: 56%;
}
.rating[value="5.7"]::after {
  inline-size: 57%;
}
.rating[value="5.8"]::after {
  inline-size: 58%;
}
.rating[value="5.9"]::after {
  inline-size: 59%;
}
.rating[value="6"]::after {
  inline-size: 60%;
}
.rating[value="6.1"]::after {
  inline-size: 61%;
}
.rating[value="6.2"]::after {
  inline-size: 62%;
}
.rating[value="6.3"]::after {
  inline-size: 63%;
}
.rating[value="6.4"]::after {
  inline-size: 64%;
}
.rating[value="6.5"]::after {
  inline-size: 65%;
}
.rating[value="6.6"]::after {
  inline-size: 66%;
}
.rating[value="6.7"]::after {
  inline-size: 67%;
}
.rating[value="6.8"]::after {
  inline-size: 68%;
}
.rating[value="6.9"]::after {
  inline-size: 69%;
}
.rating[value="7"]::after {
  inline-size: 70%;
}
.rating[value="7.1"]::after {
  inline-size: 71%;
}
.rating[value="7.2"]::after {
  inline-size: 72%;
}
.rating[value="7.3"]::after {
  inline-size: 73%;
}
.rating[value="7.4"]::after {
  inline-size: 74%;
}
.rating[value="7.5"]::after {
  inline-size: 75%;
}
.rating[value="7.6"]::after {
  inline-size: 76%;
}
.rating[value="7.7"]::after {
  inline-size: 77%;
}
.rating[value="7.8"]::after {
  inline-size: 78%;
}
.rating[value="7.9"]::after {
  inline-size: 79%;
}
.rating[value="8"]::after {
  inline-size: 80%;
}
.rating[value="8.1"]::after {
  inline-size: 81%;
}
.rating[value="8.2"]::after {
  inline-size: 82%;
}
.rating[value="8.3"]::after {
  inline-size: 83%;
}
.rating[value="8.4"]::after {
  inline-size: 84%;
}
.rating[value="8.5"]::after {
  inline-size: 85%;
}
.rating[value="8.6"]::after {
  inline-size: 86%;
}
.rating[value="8.7"]::after {
  inline-size: 87%;
}
.rating[value="8.8"]::after {
  inline-size: 88%;
}
.rating[value="8.9"]::after {
  inline-size: 89%;
}
.rating[value="9"]::after {
  inline-size: 90%;
}
.rating[value="9.1"]::after {
  inline-size: 91%;
}
.rating[value="9.2"]::after {
  inline-size: 92%;
}
.rating[value="9.3"]::after {
  inline-size: 93%;
}
.rating[value="9.4"]::after {
  inline-size: 94%;
}
.rating[value="9.5"]::after {
  inline-size: 95%;
}
.rating[value="9.6"]::after {
  inline-size: 96%;
}
.rating[value="9.7"]::after {
  inline-size: 97%;
}
.rating[value="9.8"]::after {
  inline-size: 98%;
}
.rating[value="9.9"]::after {
  inline-size: 99%;
}
.rating[value="10"]::after {
  inline-size: 100%;
}

/*# sourceMappingURL=style.css.map */
