<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <script type="text/javascript" src="js/dist/vue.global.prod.js"></script>
    <script type="text/javascript" src="js/dist/figlet.js"></script>
    <script type="text/javascript" src="js/commands.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <title>Adam COQUERY</title>
  </head>
  <body>
    <main id="app">
      <div class="title" v-html="title"></div>
      <div v-show="steps[0]" v-html="connexion_prompt"></div>
      <div v-for="command of history" :class="{cleared: command.clear, history: !command.clear}">
        <span v-html="command.prompt"></span><span v-html="command.command"></span><br><span v-html="command.result"></span>
      </div>
      <div class="last_step"></div>
      <div :class="{'transparent': !steps[steps.length -1] || !interactive }"><span v-html="prompt"></span><span
        id="prompt"
        contenteditable="true"
        @keyup.enter.prevent="validate"
        @keyup.up="up"
        @keyup.down="down"
        @keydown.tab.prevent="autoComplete"
        @keydown.ctrl.l.prevent="clear"
        @keydown="removeAutoComplete"
        spellcheck="false"
        ref="prompt"></span></div>
    </main>
  </body>
</html>