<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/movies.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <script type="text/javascript" src="js/dist/vue.global.prod.js"></script>
  <script type="text/javascript" src="js/dist/sql-wasm.js"></script>
  <script type="text/javascript" src="js/dist/chart.min.js"></script>
  <script type="text/javascript" src="js/movies.js"></script>
  <title>Movies</title>
</head>

<body>
  <main id="app">
    <div class="grid s20-80">
      
      <div class="filters">
        <input type="text" v-model="search_field">
        <h2>Vues</h2>
        <div class="tags" @click="viewtype = 'chart'">Charts</div>
        <div class="tags" @click="viewtype = 'list'">List</div>
        <h2>Tris</h2>
        <div v-for="(value, key) of sort_params" @click="changeSort(value)"
        :class="{'sort': value == sort_param, 'asc': value == sort_param && sort_asc }">{{key}}</div>
      </div>
      <div class="chart" :class="{'transparent': viewtype !== 'chart'}">
        <canvas ref="lines" width="400px" height="400px"></canvas>
        <canvas ref="radial" width="400px" height="400px"></canvas>
      </div>
      <div class="grid items" :class="{'transparent': viewtype !== 'list'}">
        <div v-for="rating of ratings" class="item">
          <div class="poster"><img :src="rating['Image'].replace('_V1_', '_V1_QL75_UX285_CR0,3,285,422_')"
              :alt="'poster ' + rating['Title']"></div>
          <div class="description">
            <div class="title" :title="rating['Title']"><a :href="rating['URL']">{{ rating["Title"] }}</a>
              ({{rating["Year"]}}, {{rating["Runtime (mins)"]}}min)</div>
            <div class="director">{{ rating["Directors"] }}</div>
            <div>
              <div class="rating" :value="rating['Your Rating']"></div>
            </div>
            <div class="genre"><span v-for="genre of rating['Genres']" :class="genre.toLowerCase()"
                :title="genre">{{ genre }}</span></div>
          </div>
        </div>
        <div ref="intersection"></div>
      </div>
    </div>
  </main>
</body>

</html>
